<hero>
    <div style="top: 0;background-image: url('img/banner.jpg'); background-size: cover; height: 600px; padding-top:200px">
        <h1 class="home-title text-center" style="margin-top: 0px; color: white">Referral.IO</h1>
        <h3 class="home-subtitle text-center" style="color: white;">Disrupting the Tech-Recruiting Industry</h3> </div>
</hero>

<div class='container demo container-problem'>
    <h1 class=''><strong>The Problem</strong></h1>
    <h3>The process for hiring developers is expensive, inefficient, and slow.</h3>
    <img src="img/problems.png" style="width: 100%">
    <p>The current system reduces job mobility and satisfaction. Recruiters and job boards do a poor job of matching qualified candidates to jobs. The subjectivity of the current system often leads employers to hire people who look like themselves, contributing to the tech industry’s diversity problem.</p>
</div>
<div class='container demo container-solution'>
    <h1 class='m_T-0'><strong>The Solution</strong></h1>
    <img src ="img/tagline.png" style="width: 100%">
    <p>We think there is a better way to vet talent, and that is to use developers to recruit developers
</p>
    <h2 class='text-center'>Our Survey</h2> 
    <img style='width:100%' src="img/referral-io-infographics.png" alt=""></div>
<div class='container container-market'>
    <h1><strong>The Market</h1> 
    <div class="col-sm-6">
        <img src="marketsize.png" style="width: 100%">
    </div>
    <div class="col-sm-6">
        <p>US corporations spend nearly $8.1 billion each year on tech recruiting services, staff, and products. In all, US companies spend $72 billion on recruiting. Worldwide, the numbers are even larger.</p>
    </div>
</div>
<div class='container demo container-business'>
    <h1><strong>Business Model</strong></h1> 
</div>
<div class='container demo container-competition'>
    <h1><strong>The Competition</strong></h1>
    <table>
        <thead>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class='container demo container-team'>
    <h1><strong>The Team</strong></h1> 
</div>