  <hero>
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Referral.IO</h1>
        <h3 class="text-center">Disrupting the Tech-Recruiting Industry</h3>
      </div>

    </div>
  </hero>
  <div class='container'>
    <h1 class=''>The Problem</h1>
    <ul>
      <li><strong>Expense:</strong> It cost companies 1.5x a developers annual salary to fill one position</li>
      <li><strong>Quality:</strong> Recruiters lack the technical skills they need for evaluating candidates and top </li>
    </ul>
  </div>
  <div class="bg-white p_V-4x">
    <div class='container '>
      <h1 class='m_T-0'>The Solution</h1>
      <h2 class='text-center'>Our Survey</h2>
      <img style='width:100%' src="img/referral-io-infographics.png" alt="">
    </div>
  </div>


  <div class='container'>
    <h1>The Market</h1>
  </div>
  <div class='container'>
    <h1>Business Model</h1>
  </div>
  <div class='container'>
    <h1>The Competition</h1>
    <table>
      <thead>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='container'>
    <h1>The Team</h1>
    <div class='row'>
      <div class='col-sm-4'>
        <img class='team' src='img/placeholder.jpg'/>
        <h4 class='team name'>
          Quincy Cabell
        </h4>
      </div>
      <div class='col-sm-4'>
        <img class='team' src='img/placeholder.jpg'/>
        <h4 class='team name'>
          Mike Collins
        </h4>
      </div>
      <div class='col-sm-4'>
        <img class='team' src='img/placeholder.jpg'/>
        <h4 class='team name'>
          Leigh Boone
        </h4>
      </div>
      <div class='col-sm-4'>
        <img class='team' src='img/placeholder.jpg'/>
        <h4 class='team name'>
          Reza Dehganpour
        </h4>
      </div>
      <div class='col-sm-4'>
        <img class='team' src='img/placeholder.jpg'/>
        <h4 class='team name'>
          Dan Hui
        </h4>
      </div>
      <div class='col-sm-4'>
        <img class='team' src='img/placeholder.jpg'/>
        <h4 class='team name'>
          Charlotte Chen
        </h4>
      </div>
      <div class='col-sm-4'>
        <img class='team' src='img/placeholder.jpg'/>
        <h4 class='team name'>
          Blake Thomas
        </h4>
      </div>
  </div>
