

<main>
	test
	<div class="container-fluid" style="margin-top:50px;">

		<div class="row">
			<div class="col-sm-4">hello</div>
			<div class="col-sm-4">worl</div>
			<div class="col-sm-4">asdf</div>
		</div>

	</div>

	 		<!-- <table class="job-row" ng-repeat="job in vm.jobs" style="width:300px;">
			<tr>
				<td>
					<h3>NetApp</h3><br/>
					<h4>{{job.name}}</h4>
				</td>
				<td>
					<p>
						{{job.description}}
					</p>
				</td>
			</tr>
		</table> -->
</main>




<!-- 		<div class="listing row" ng-repeat="job in vm.jobs">

			{{job.description}}
		</div> -->
<!-- 
 		<div class="job-row">
 			<table>
 				<tr>

 				</tr>
 			</table>
 		</div> -->

