
<main>
	<div class="container-fluid" style="margin-top:50px;">

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="row">
				      <div class="col-sm-7">
				        <div class="profile-block">
				          <div class="row">
				            <div class="col-sm-offset-1 col-sm-4">
				              <div class="img-crop"><img src="img/placeholder.jpg"></div>
				            </div>
				            <div class="col-sm-6">
				              <h2>Jennifer</h2>
				              <h4>Frontend Developer<br/><small>Ranked 5th in your field</small></h4>
				              <br/>
				              <a href="/#/jobs">View My Job Listings</a>
				            </div>
				          </div>
				        </div>
				      </div>
			     </div>
			     <div class="row">
			     	<div class="col-sm-12">
			     		<span id="chart"></span>
			     	</div>
			     </div>
			</div>
			<div class="col-sm-2"></div>

	    </div>

	</div>


</main>

