.btn-scroll{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    background-color: #24AE89;
    color: white;
    position: fixed;
    float: right;
    right: 20px;
    outline: 0;
    border: 2px solid white;
}

#btn-problem{
    top: 80px;
}
#btn-solution{
    top: 140px;
}
#btn-market{
    top: 200px;
}
#btn-business{
    top: 260px;
}
#btn-competition{
    top: 320px;
}
#btn-team{
    top: 380px;
}

.btn-scroll:hover, .btn-active, .btn-focus{
    background-color: #198E6D;
    color: white;
    outline: 0;
}


.container-problem, .container-market, .container-competition{
    background: #EEEEEE;
}

.container-solution, .container-business, .container-team{
    background: white;
}

.container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
}

.container h1{
    margin-bottom: 30px;
}

.demo{
    padding: 70px 100px;
    text-align: center;
    min-height: 600px;
}


.home-title{
    font-size: 60px;
}

.home-subtitle{
    font-size: 30px;
}

.competition-table thead{
    background-color: #24AE89;
    color: white;
}

.competition-table tbody tr:nth-child(even){
    background-color: white;
}
.competition-table tbody tr:nth-child(odd){
    background-color: rgba(36, 174, 137, 0.1);
}

.container-team img{
    margin-right: 40px;
    width: 80%;
}